@font-face {
    font-family: "bb";
    src: url(Font/Breaking\ Bad.ttf);
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
}
.bodyindex{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    color: white;
    font-family: "bb";
    font-size: 30px;
    
}
.logo{
    height: 200px;
    width: 200px;
    align-items: center;
    
}
.poster{
    text-align: center;
    height: 300px;
    width: 700px;
}
.divposter{
    margin: auto;
    height: 300px;
    width: 700px;
    border: 10px solid brown;
    border-radius: 22px;
    border-image-outset: 10px;
}

/*Ajuste de Tabla*/
.bodytabla{
    background-color: #0c3e11;

}
.tabla{
    width: "770px";
    height: "470px";
    background-color: #093009;
    color:#093009;
    font-size:18px;
    font-weight:bolder ;
    margin: auto;
}
td, tr{
    background-color: #093009;
    border: 7px solid ;
    margin: auto;
    border-color: #093009;
    text-align: center; 
    padding: 0%;  
}
.tabla2{
    background-color: #25241e;
    margin: auto;
    font-size:18px;
    font-weight:bolder ;
    
}
td, th{
    width: 130px;
    height: 90px;
}
.td2, .tr2{
    background-color: #b8db1c;
    border:7px solid #093009;
    border-color: #093009;
    width: 100px;
    height: 30px;
    padding: auto;
    justify-items: center;
}
.sub{
    font-size:10px;
}
.hank{
    width: 120px;
    
 }
.img{
    width:80px;
    height:70px;
 }

    /*Colores celdas*/
.verdeclaro{
    background-color: #b8db1c;
}
.morado{
    background-color: #ab8fcc;
}
.blanco{
    background-color: #eff5d2;
}
.pistacho{
    background-color: #89a418;
}
.verdeoscuro{
    background-color: #627126;
}
.verde1{
    background-color: #c5e440;
}
.gris{
    background-color: #bbc49e;
}
.verde2{
    background-color:#818c59 ;
}
.suave{
    background-color: #d4e87c;
}

/*Ajustes Formulario*/
.formulario{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    font-weight: bold;
    font-size: 16px;
}